* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 35px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 10px;
    letter-spacing: normal;
}

.button-header {
    background: #665AE1;
    border-radius: 25.5px;
    width: 100px;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}

.logo-image {
    width: 416px;
    height: 320px;
    margin-left: 128px;
    display: inline-block;
    margin:15px 15px;
}

section {
    display: inline-block;
    margin-left: 80px;

}

h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 5px;
    width: 410px;
}

.button-main {
    Width: 239px;
    Height: 64px;
    background: #ADFF00;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

    margin: 20px 22px 133px 14px;

}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    main {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 3px;


    }

    .logo-image {
        position: static;
        width: 354px;
        height: 317px;
        margin: 170px 12px 22px 22px;
    }

    .link-header {
        display: none;
    }

    h1 {
        font-size: 50px;
        line-height: 61px;
        width: 263px;
        margin: 27px 63px 7px 20px;

    }

    h2 {
        width: 232px;
        height: 37px;

        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin: 17px 27px;
    }

    p {
        display: none;
    }

    .button-header {
        display: none;

    }

    .button-main {
        margin: 17px 75px 136px 18px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
}